<script type="text/javascript" src="http://vnjs.net/www/project/freewall/example/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://vnjs.net/www/project/freewall/freewall.js"></script>

<style type="text/css">
	.free-wall {
		margin: 15px;
	}

	.cell:hover {
		background-color: #f2f2f2;
	}

	.cell img {
		display: block;
		height: 60%;
		width: auto;
		max-width: 60%;
		margin: 15px auto;
	}

	.cell p {
		text-align: center;
	}

</style>

<div id="content-wrapper">
	<h1>Projects</h1>

	<div id="freewall" class="free-wall"></div>

	<script type="text/javascript">
		var w = 200, h = 150, html = ''	;
		<% @projects.each do |project| %>
				var boxOpen = '<div class="cell" style="width:{width}px; height: {height}px; margin-bottom: 15px;" >';

				var boxLink = '<%= link_to image_tag("projects/#{project.image_path}", height: "100%", width: "100%"), project_path(project) %>'
				var boxLabel = '<p> <%= project.title %> </p>'


				var boxClose = '</div>';

				var box = boxOpen + boxLink + boxLabel + boxClose;

			html += box.replace(/\{height\}/g, h).replace(/\{width\}/g, w);
		<% end %>

		$("#freewall").html(html);

		var wall = new Freewall("#freewall");
		wall.reset({
			selector: '.cell',
			animate: true,
			cellW: 200,
			cellH: 150,
			onResize: function() {
				wall.refresh();
			}
		});
		wall.fitWidth();
		// for scroll bar appear;
		$(window).trigger("resize");
	</script>
</div>
