<div id="content-wrapper">
	<h1>Publications</h1>

	<ul>
		<li class="list-item">
			Chu, S., Angello, G., Saenz, M. and Quek, F. (2017). Fun in Making: Understanding the Experience of Fun and Learning through Curriculum-based Making in the Elementary School Classroom. Journal of Entertainment Computing: Special issue on Maker Technologies to Foster Engagement and Creativity in Learning (Make2Learn), 18, pp. 31-40. http://dx.doi.org/10.1016/j.entcom.2016.08.007
		</li>
		<li class="list-item">
			Chu, S., Quek, F., Bhangaonkar, S., Ging, A. B. and Sridharamurthy, K. (2015). Making the Maker: Nurturing the Maker Mindset. In the International Journal of Child-Computer Interaction: Special Issue on Digital Fabrication in Education, 5, pp 11-19. doi:10.1016/j.ijcci.2015.08.002
		</li>
		<li class="list-item">
			Chu, S. L., Schlegel, R., Quek, F., Christy, A. and Chen K. (2017). I Make, Therefore I Am: An Investigation of Curriculum-based Making on Children's Self-identity. In Proceedings of the CHI Conference on Human Factors in Computing Systems (CHI ’17). Denver, CO. ACM.
		</li>
		<li class="list-item">
			Berman, A., Garcia, B., Nam, B., Chu, S. L. and Quek, F. (2016). Toward a Making Community of Practice: The Social Aspects of Elementary Classroom-Based Making. In Proceedings of FabLearn 2016: 6th Annual Conference on Creativity and Making in Education. Stanford University, Palo Alto.
		</li>
		<li class="list-item">
			Chu, S., Angello, G., Suarez, M. and Quek, F. (2016). A Systemic Analysis of Making in Elementary Schools: Understanding Making for Children through Activity Theory. In Proceedings of International Conference on Advanced Learning Technologies (ICALT ’16). Austin, TX.
		</li>
		<li class="list-item">
			Chu, S., Saenz, M. and Quek, F. (2016). Connectors in Making: Investigating Children’s Motoric Abilities in Making. In Proceedings of International Conference on Interaction Design & Children (IDC ’16). Manchester, UK.
		</li>
		<li class="list-item">
			Angello, G., Chu, S., Quek, F., Osazuwa, O. and Zarei, N. (2016). Making as the New Colored Pencil: Translating Elementary Curricula into Maker Activities. In Proceedings of International Conference on Interaction Design & Children (IDC ’16). Manchester, UK.
		</li>
		<li class="list-item">
			Chu, S. L., Angello, A., Quek, F. and Pyle. S. (2016). Supporting Scientific Model Thinking through Curriculum-based Making. In Proceedings of FabLearn Europe 2016. Preston, UK.
		</li>
		<li class="list-item">
			Chu, S., Quek, F., Saenz, M., Bhangaonkar, S. and Okundaye, O. (2015). Enabling Instrumental Interaction through Electronics Making: Effects on Children’s Storytelling. In Proceedings of International Conference on Interactive Digital Storytelling (ICIDS ’15). Copenhagen, Denmark.
		</li>
	</ul>
</div>
