<div id="content-wrapper" class="center-horizontal">
	<h1>Publications</h1>
	
	<ul>
		<li class="list-item">
		Chu, S., Angello, G., Suarez, M. and Quek, F. (2016). A Systemic Analysis of Making in Elementary Schools: Understanding Making for Children through Activity Theory. International Conference on Advanced Learning Technologies (ICALT ’16).
		</li>
	
		<li class="list-item">
		Chu, S., Saenz, M. and Quek, F. (2016). Connectors in Making: Investigating Children’s Motoric Abilities in Making. International Conference on Interaction Design & Children (IDC ’16). London, UK.
		</li>
	
		<li class="list-item">
		Angello, G., Chu, S., Quek, F., Osazuwa, O. and Zarei, N. (2016). Making as the New Colored Pencil: Translating Elementary Curricula into Maker Activities. International Conference on Interaction Design & Children (IDC ’16). London, UK.
		</li>
	
		<li class="list-item">
		Chu, S., Quek, F., Bhangaonkar, S., Ging, A. B. and Sridharamurthy, K. (2015). Making the Maker: Nurturing the Maker Mindset. In the International Journal of Child-Computer Interaction: Special Issue on Digital Fabrication in Education. doi:10.1016/j.ijcci.2015.08.002
		</li>
	
		<li class="list-item">
		Chu, S., Quek, F., Saenz, M., Bhangaonkar, S. and Okundaye, O. (2015). Enabling Instrumental Interaction through Electronics Making: Effects on Children’s Storytelling. In Proceedings of International Conference on Interactive Digital Storytelling (ICIDS ’15). Copenhagen, Denmark.
		</li>
	</ul>
</div>
