/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* General Style */

.center-horizontal {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

body {
	background-color: #e9e9e9;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	position: relative;
	min-height: 100%;
	mar	gin: 0;
}

header {
	background-color: #222;
	box-shadow: 0px 3px 10px #888;

	position: relative;
	height: 200px;
	width: 100%;
	margin-bottom: 20px;
	z-index: 1000;
}

#logo {
	height: 100%;
	margin: 0% 1%;
}

#logo img {
	max-height: 100%;
	max-width: 100%;
}

#header-nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

	position: absolute;
	bottom: 0;
}

#nav-list {
	width: 100%;
}

.nav-item {
	float: left;
	margin: 0% 5%;
}

.nav-item > a {
	color: white;
}

.nav-item > li > a:focus, .nav-item > li > a:hover {
	background-color: #333;
}

#main-wrapper {
	position: relative;
	padding-bottom: 100px;
}

#content-wrapper {
	background-color: #fff;
	box-shadow: 0px 3px 10px #888;

	height: auto;
	min-height: 100%;
	padding: 5% 10%;
	position: relative;
	width: 80%;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
}

.general-button {
	background-color: #222;
	border-radius: 3px;
	padding: 10px;
	width: 100px;
}

.carousel-inner > .item > .slide-img { height: unset; }

.main-icon {
	width: 140px;
	height: 140px;
}

footer {
	background-color: #222;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	height: 80px;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#footer-link-container {
	text-align: center;
	margin: 0;
}

.footer-link {
	float: left;
	width: 30%;
	margin: 0px 10px;
}

.footer-link #tamu-logo { width: 35%;}
.footer-link #nsf-logo { width: 16%;}

/* Lists */
.list-item {
	text-align: justify;
	margin-bottom: 10px;
}

/* Configurations for mobile screens */
@media screen and (max-width: 480px) {

}
